body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

select, input[type="submit"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

select:hover, input[type="submit"]:hover {
    background-color: #45a049;
}

p {
    margin: 0;
    margin-bottom: 10px;
    text-align: center; /* Centering text */
}

ul {
    margin: 0;
    padding-left: 20px;
}

ul li {
    list-style-type: none;
}

.event-details, .description {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center; /* Centering text */
}
